src/main/mule/cr-to-eo-sf-sync-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd">
	<flow name="chromeriver-to-emburse-data-sync" doc:id="28b3f4fe-8113-474a-8ac6-ed618b91e607" initialState="started">
		<scheduler doc:name="Scheduler : 30 min" doc:id="0045ddfd-6bf9-45fd-970f-2ea3ca2ca481" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="var : correlationId" doc:id="36e2a616-efef-4fb3-8382-00ad0103bc6c">
<ee:message>
				<ee:set-payload ><![CDATA[ %dw 2.0 
 output application/java
 ---
 attributes.headers.'x-correlation-id' default correlationId ]]></ee:set-payload>
</ee:message>
			<ee:variables >
			</ee:variables>
</ee:transform>
		<logger level="INFO" doc:name="Start" doc:id="94f6b490-c8ed-4daf-b0d1-53357633de57" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{ &#10;	flow : "Start of flow : " ++ flow.name,&#10;	message: flow.name ++" has Started", &#10;	correlationId: correlationId&#10;}]'/>
		<flow-ref doc:name="cr-to-eo-sub-flow" doc:id="a8557d5a-90c9-47d7-9260-dfefebdba6cd" name="cr-to-eo-sub-flow"/>
		<logger level="INFO" doc:name="End" doc:id="b26a7714-276f-498d-8db5-bab85bb290dd" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{ &#10;	flow : "End of flow : " ++ flow.name,&#10;	message: flow.name ++" has Ended", &#10;	correlationId: correlationId&#10;}]'/>
		<error-handler ref="global-error-handler" />

	</flow>
</mule>
